[user]
        email = ekku.eki@gmail.com
        name = Ekku Sipilä
[http]
        postBuffer = 524288000
[pull]
        rebase = false
[push]
        autoSetupRemote = true
[core]
	excludesfile = /Users/ekkusipila/.gitignore_global
[alias]
        count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"j[core]
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
